@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');

.final-container {
    margin-top: 100px;
    padding: 20px;
    background-color:violet;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.final-container h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    color: #666;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color:lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}