@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');


*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: 'Bricolage Grotesque', sans-serif;
    color: white;
}

.nombrePuntaje{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    width: 80;
    margin: 0% 10%;
}

.Enunciado{
    width: 80;
    margin: 0% 10%;
    display: flex;
    justify-content: center;
}

form{
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

form input[type="submit"]{
    width: 100%;
    color: black;
    padding: 50px;
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
    cursor: pointer;
}

form input[type="submit"]:hover{
    background-color: purple;
}

.Respuestas{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 5%;
    margin-top: 30px;
}