html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');

*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: 'Bricolage Grotesque', sans-serif;
    
}
body{
    background-image: url(/imagenes/Fondo.jpg);
    background-size: cover;
    text-align: center;
}
header{
    width: 100%;
    font-size: 250%;
    background-image: url(/imagenes/header.jpg);
}
nav img{
    width: 100px;
    border-radius: 15px;
}
nav{
    width: 90%;
    margin: 0 5%;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: white;
    transition: 1s;
}

nav a:hover{
    color: rgb(255, 255, 255, 0.7);
}

li{
    display: flex;
    align-items: center;
}

.Titulo{
    display: flex;
    justify-content: center;
}

.Titulo h1{
    font-size: 100px;
    color: white;
}

